/* Avoid showing first header, i.e., the page title in the sidebar.
 *
 * https://github.com/mkdocs/mkdocs/issues/318#issuecomment-98520139
 */
li.toctree-l3:first-child {
    display: none;
}

code {
    font-family: Menlo, monospace;
}

.meta .date { float: left }
.meta .discuss { float: right }
